In [33]:
import pandas as pd
import numpy as np

### Importing datasets and merging them

In [3]:
# merge student-mat dataframe and student-por dataframe

# read student-mat.csv
df1 = pd.read_csv('student-mat.csv', sep=';')
df2 = pd.read_csv('student-por.csv', sep=';')

In [10]:
# check the shape of df1 and df2
print(df1.shape)
print(df2.shape)

(395, 33)
(649, 33)

In [31]:
# Merging two dataframes by their columns name
merged_df = pd.concat([df1, df2], axis=0)
merged_df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

### Features Engineering on adding columns
* Categorical columns on 'pass' or 'fail' on each subject.
* Categorical columns on grades on each subject.

In [37]:
# Add a binary categorical variable called "finalResult", with level "pass" if the variable G3 is greater or equal to 10 and "fail" otherwise.

merged_df['finalResult'] = np.where(merged_df['G3'] >= 10, 'pass', 'fail')
merged_df.finalResult.value_counts()

finalResult
pass    814
fail    230
Name: count, dtype: int64

In [48]:
# Add a categorical variable called "academicGrade", with five levels "A", "B", "C", "D", "E" 
# depending on whether the variable G3 is between 16 and 20, 14 and 15, 12 and 13, 10 and 11, 0 and 9.

# Define a function that maps G3 values to academic grades
def get_academic_grade(g3):
    if g3 >= 16:
        return 'A'
    elif g3 >= 14:
        return 'B'
    elif g3 >= 12:
        return 'C'
    elif g3 >= 10:
        return 'D'
    else:
        return 'E'

# Use the function to create the "academicGrade" variable
merged_df['academicGrade'] = merged_df['G3'].apply(get_academic_grade)

merged_df.academicGrade.value_counts()

academicGrade
D    304
E    230
C    216
B    172
A    122
Name: count, dtype: int64

## Exploratory analysis